name: Deploy

on:
  push:
    branches: [develop]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Bun
        run: |
          curl -fsSL https://bun.sh/install | bash
          echo "export BUN_INSTALL=\"$HOME/.bun\"" >> "$GITHUB_ENV"
          echo "export PATH=\"$BUN_INSTALL/bin:$PATH\"" >> "$GITHUB_ENV"
          source "$GITHUB_ENV"

      - name: Install dependencies
        run: bun install

      - name: Build and Deploy
        run: bun run deploy
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
